body{
    background-color: lightgray;
}
h1{
    color: blue;
}
.container{
    background-color: white;
    padding: 10px;
    width: 350px;
    height: 280px;
    box-shadow: 5px 5px 2px 5px lightgray;
    float: right;
    text-align: center;
    margin-right: 100px;
}
.container1{
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 100px;
    font-size: 20px;
    width: 80%;
    height: 500px;

}

.div{
    height: 15px;
    padding: 10px;
    margin-bottom: 10px;
}
.button{
    background-color: blue;
    width: 320px;
    height: 35px;
    color: white;
    border: 1px solid blue;
    border-radius: 6px;
    margin-top: 10px;
}
.button1{
    background-color: whitesmoke;
    width:320px;
    height: 35px;
    color: blue;
    border: 1px groove whitesmoke;
    border-radius: 6px;
    margin-top: 10px;
}
.button2{
     background-color: green;
     width: 180px;
     height: 40px;
     padding: 10px;
     color: white;
     border: 1px solid green;
     border-radius: 6px;
     margin-top: 30px;
}
.div1{
     text-align-last: right;
     margin-top: 50px;
     font-size: medium;
     margin-right: 20px;
}
span{
    font-weight: bolder; 
}
.div2{
    width: 1000px;
    height: 500px;
    margin-left: 200px;
}
.div3{
    /* background-color: white; */
    /* padding: 10px; */
    width: 350px;
    height: 280px;
    /* box-shadow: 5px 5px 2px 5px lightgray; */
    float: left;
    /* margin-left: 200px; */
}