body{
    background-color: lightgray;
}
.container{
    text-align: center;
    margin-top: 100px;
    margin-left: 450px;
    margin-right: 450px;
    margin-bottom: 10px;
}
.container1{
    text-align: center;
    float: left;
    margin-right: 60px;
    margin-left: 60px;
}
.div1{
    text-align: center;
    margin-right: 300px;
    margin-left: 300px;
    margin-top: 50px;
}
.para1{
    background-color: gray;
}
h3{
    color: gray;
}
i{
    font-size: 30px;
}