img{
    height: 150px;
    width: 150px;
}
header{
    background-color: aqua;
}
.tab{
    background-color: grey;
}
footer{
    background-color: dodgerblue;
    text-align: center;
}
button{
    background-color: green;
}

