
}
/* p{
    text-indent: 30px;
    white-space: nowrap;
} */
h1{
    text-transform: capitalize;
    /* text-decoration: ;
    text-shadow: ; */

}
.p{
    text-transform: capitalize;
    text-indent: 30px;
}